.alert{
  position:fixed;
  left:15px;
  top:15px;
  width:auto;
  height:auto;
  max-width:50vw;
  padding:10px;
  border-radius: 5px;
  background-color: #535353;
  color:white;
  font-family:'Josefin Sans', sans-serif;
  display:none;
  font-size:2vh;
}
@media only screen and (max-width: 768px) {
  .alert{
    max-width:100%;
  }
}
