
$gfont : 'Josefin Sans', sans-serif;
$gColor : #535353;
body{
  text-align:center;
  font-family:$gfont;
  background-color:#F9F9F9;
}

.header{
  margin-top:10vh;
}

t1{
  font-size: 9vw;
  color:$gColor;
}

button {
  font-size:2vw;
  padding:.7vw;
  background-color: white;
  font-family:$gfont;
  color: black;
  border: 2px solid $gColor;
  border-radius:10px;
  transition: .3s;
  &:hover {
    cursor:pointer;
    color:white;
    background-color: $gColor;
    transition: .3s;
  }
  &:focus {outline:none;}
}

.result{
  margin-top:5vh;
  font-size:2vw;
}

.switch {
  margin-top:10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}



input:checked + .slider {
  background-color: $gColor;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.loader {
  display:none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $gColor;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s ease-in-out infinite; /* Safari */
  animation: spin 2s ease-in-out infinite;
  margin-left:auto;margin-right:auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
