<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>What do I do</title>
  <meta name="Random event generator" content="What do I do">
  <meta name="Corey Bourke" content="SitePoint">
  <script src="./js/angular.js"></script>
  <script src="./js/whatdo_app.js"></script>
  <script src="./js/jquery-3.2.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <link rel="stylesheet" type="text/css" href="./css/alert.css">
  <script
    src="http://maps.googleapis.com/maps/api/js?key=">
  </script>
</head>

<body ng-app="Whatdo" ng-controller="mController" ng-init="initMap()">
  <div class="alert"></div>
  <div class="header">
    <t1>{{title}}</t1>
  </div>
  <t2></t2>
  <button ng-click="displayActivity()">Find something!</button><br><br>
  Enable planned events<br>
  <label class="switch">
    <input type="checkbox" ng-click="onlineStatus = true;getLocation()" ng-model="eventCheckBox" checked>
    <span class="slider round"></span>
  </label>
  <div class="result">
    <div class="loader"></div>
    {{activity.name}}<br>{{activity.longLocation}}<br>{{activity.startTime}}
  </div>
  <br>
  <div id="map"></div>
  <script>

  </script>


</body>
</html>
